.counter-reset {
  counter-reset: reset;

  .index {
    &::before {
      content: counters(reset, '.') '. ';
      counter-increment: reset;
    }
  }
}

.reset-button {  
  @apply p-0 border-0 bg-transparent cursor-pointer;

  &:disabled {
    opacity: 0.5;
  }
  &:hover {
    opacity: 0.9;
  }
}

.border-base {
  @apply border-gray-200 dark:border-dark-200 border-solid border-1;
}


.border {
  @extend .border-base;
}

.border-top {
  @extend .border-base;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}

.border-left {
  @extend .border-base;
  border-left-width: 0.5px !important;
}

.border-right {
  @extend .border-base;
  border-bottom: 0;
  border-top: 0;
  border-left: 0;
}

.border-bottom {
  @extend .border-base;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.border-top-bottom {
  @extend .border-base;
  border-left: 0;
  border-right: 0;
}

html.dark {
  .color-fade {
    color:rgba(209,213,219,0.5);
  }
}
.color-fade {
  color:rgba(17,24,39,0.5);
}

// 点击区域
.expand {
  border: 4px solid transparent;
}

// 文字换行
.break {
  white-space: pre-line;
  word-wrap: break-word;
}
