// <div class="loading">
//     <div class="child first"></div>
//     <div class="child second"></div>
//     <div class="child"></div>
// </div>
.loading {
  margin: 50px auto;
  width: 150px;
  text-align: center;

  .child {
    width: 20px;
    height: 20px;
    background-color: var(--theme);

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
    animation: bouncedelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  .first {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
  }

  .second {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
  }

  @-webkit-keyframes bouncedelay {

    0%,
    80%,
    100% {
      -webkit-transform: scale(0.0)
    }

    40% {
      -webkit-transform: scale(1.0)
    }
  }

  @keyframes bouncedelay {

    0%,
    80%,
    100% {
      transform: scale(0.0);
      -webkit-transform: scale(0.0);
    }

    40% {
      transform: scale(1.0);
      -webkit-transform: scale(1.0);
    }
  }
}

// <ul class="tabs">
//     <li>tab1</li>
//     ...
// </ul>
.custom-tabs {
  li {
    background-color: #fff;

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background-color: var(--theme);
      position: absolute;
      left: 100%;
      bottom: 0;
      transition: all .4s;
    }

    &:hover {
      color: var(--theme);

      &::after {
        width: 100%;
        left: 0;
        transition-delay: 0.1s;
      }

      &~li::after {
        left: 0;
      }
    }
  }
}

// 商品卡券 @see:https://qishaoxuan.github.io/css_tricks/hollowOut/#%E6%A0%B7%E5%BC%8F%E4%B8%80
.coupon {
  width: 300px;
  height: 100px;
  position: relative;
  background: radial-gradient(circle at right top, transparent 10px, #00adb5 0) top left / 60px 51% no-repeat,
    radial-gradient(circle at right bottom, transparent 10px, #00adb5 0) bottom left /60px 51% no-repeat,
    radial-gradient(circle at left top, transparent 10px, #eeeeee 0) top right /240px 51% no-repeat,
    radial-gradient(circle at left bottom, transparent 10px, #eeeeee 0) bottom right /240px 51% no-repeat;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, .2));

  &::before {
    content: '';
    height: 80px;
    border: 1px dashed #fff;
    position: absolute;
    left: 60px;
    top: 0;
    bottom: 0;
    margin: auto;
  }

  &::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 5px;
    top: 0;
    right: -5px;
    background-image: linear-gradient(to bottom, #eeeeee 5px, transparent 5px, transparent),
      radial-gradient(10px circle at 5px 10px, transparent 5px, #eeeeee 5px);
    background-size: 5px 15px;
  }
}
