.scroll-behavior-smooth {
  scroll-behavior: smooth;
}

.flex-center {
  display: flex;
  align-items: center;
}

// colors
.theme {
  color: var(--theme)
}
.bg-theme {
  background-color: var(--theme);
}
