$dark: #121212;
$theme: #1B2B34;
$font-family-fashion:  -apple-system, BlinkMacSystemFont, "PingFang SC","Helvetica Neue",STHeiti,"Microsoft Yahei",Tahoma,Simsun,sans-serif;

:export {
  theme: $theme,
}
